<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.services.cnn_studentnews.Cnn_StudentNewsServiceImpl"
        id="cnn.com_studentnews" vendor="tong2shot" version="1.0.0">
    <attributes>
        <attribute id="urlRegex" value="http://edition\.cnn\.com/.*?studentnews/.+?\.html$"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="edition.studentnews.cnn.com"/>
        <attribute id="maxDownloads" value="10"/>
        <attribute id="hasOptions" value="true"/>
        <attribute id="faviconImage" value="resources/favicon.png"/>
    </attributes>

    <runtime>
        <library id="cnn.com_studentnews" path="/" type="code"/>
    </runtime>
</plugin>
