<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin class="cz.vity.freerapid.plugins.LibraryPlugin"
        id="ulozto_captcha" vendor="JPEXS+tong2shot" version="1.0.1">
    <attributes>
        <attribute id="libraryPlugin" value="true"/>
        <attribute id="minver" value="0.855"/>
        <attribute id="maxver" value="0.899"/>
        <attribute id="services" value="ulozto_captcha"/>
    </attributes>

    <runtime>
        <library id="ulozto_captcha" path="/" type="code">
            <export prefix="*"/>
        </library>
    </runtime>
</plugin>
